@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Laila:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Laila", serif;
}

.coin-add{
  animation: coin-add .4s ease-in-out;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 100;
}

@keyframes coin-add {
  0% {
    top: 50%;
    opacity: 0;
  }
  50%{
    top: 20%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }

}